﻿@model SG_HR_Portal.Models.DataModels.Category

@{
    ViewBag.Title = "Add Category";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add Category</h3>
        @Html.ActionLink("Return to Category List", "Manage", "Category")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Category Title</label>
                @Html.TextBoxFor(m => m.CategoryTitle, new { @class = "form-control", placeholder = "Category Title" })
            </div>
            <div class="form-group">
                <label>Description</label>
                @Html.TextAreaFor(m => m.CategoryDescription, new { @class = "form-control", placeholder = "Description" })
            </div>
           <button type="submit" class="btn btn-sm btn-primary">Add</button>
        }
    </div>
</div>

