﻿@model SG_HR_Portal.Models.DataModels.Category

@{
    ViewBag.Title = "Delete Category";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Category</h3>
        @Html.ActionLink("Return to List", "Manage", "Category")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.CategoryId)
            <br /><h4>Are you sure that you want to delete the following category?</h4>
            <br /><p>@Html.LabelFor(m => m.CategoryTitle) : @Html.DisplayFor(m => m.CategoryTitle)</p>
            <p>@Html.LabelFor(m => m.CategoryDescription) : @Html.DisplayFor(m => m.CategoryDescription)</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "Manage", "Category", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>

