﻿@model List<SG_HR_Portal.Models.DataModels.Category>
@{
    ViewBag.Title = "Manage Categories";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Manage Categories</h3>
        @Html.ActionLink("Add Category", "Add", "Category", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cat in Model)
            {
                    <tr class="">
                        <td>@cat.CategoryId</td>
                        <td>@cat.CategoryTitle</td>
                        <td>@cat.CategoryDescription</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Category", new { id = cat.CategoryId }, null) |
                            @Html.ActionLink("Delete", "Delete", "Category", new { id = cat.CategoryId }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

