﻿
@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to the Software Guild HR Portal.</h2>
        <h4>Please select an option from the menu bar above.</h4>
        <p class="text-danger">This system is currently in beta.</p>
    </div>
</div>
