﻿@model SG_HR_Portal.Models.DataModels.Position

@{
    ViewBag.Title = "Add Position";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add Position</h3>
        @Html.ActionLink("Return to Position List", "List", "Position")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Add", "Position", null, FormMethod.Post, new { id = "addPositionForm" }))
        {
            <div class="form-group">
                <label>Position Title</label>
                @Html.TextBoxFor(m => m.PositionTitle, new { @class = "form-control", placeholder = "Position Title" })
            </div>
            <div class="form-group">
                <label>Posted Salary</label>
                @Html.TextBoxFor(m => m.PostedSalary, new { @class = "form-control", placeholder = "Salary" })
            </div>
            <div class="form-group">
                <label>Hiring Manager</label>
                @Html.TextBoxFor(m => m.HiringManager, new { @class = "form-control", placeholder = "Hiring Manager" })
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Add</button>
        }
    </div>
</div>


