﻿@model SG_HR_Portal.Models.DataModels.Position

@{
    ViewBag.Title = "Delete Position";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Position</h3>
        @Html.ActionLink("Return to Position List", "List", "Application")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.PositionId)
            <br /><h4>Are you sure that you want to delete the following position?</h4>
            <br /><p>@Html.LabelFor(m => m.PositionTitle) : @Html.DisplayFor(m => m.PositionTitle)</p>
            <p>@Html.LabelFor(m => m.PostedSalary) : @Html.DisplayFor(m => m.PostedSalary)</p>
            <p>@Html.LabelFor(m => m.HiringManager) : @Html.DisplayFor(m => m.HiringManager)</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "List", "Position", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>  

