﻿@model SG_HR_Portal.Models.DataModels.Position

@{
    ViewBag.Title = "Edit Position";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Position</h3>
        @Html.ActionLink("Return to List", "List", "Position")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.PositionId)
            <div class="form-group">
                <label>Position Title</label>
                @Html.TextBoxFor(m => m.PositionTitle, new { @class = "form-control", placeholder = "PositionTitle" })
            </div>
            <div class="form-group">
                <label>Posted Salary</label>
                @Html.TextBoxFor(m => m.PostedSalary, new { @class = "form-control", placeholder = "PostedSalary" })
            </div>
            <div class="form-group">
                <label>Hiring Manager</label>
                @Html.TextBoxFor(m => m.HiringManager, new { @class = "form-control", placeholder = "HiringManager" })
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>      

