﻿@model List<SG_HR_Portal.Models.DataModels.Position>

@{
    ViewBag.Title = "Position List";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Current Positions</h3>
        @Html.ActionLink("Add Position", "Add", "Position", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>PosID</th>
                    <th>Title</th>
                    <th>Salary</th>
                    <th>Hiring Manager</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pos in Model)
                {
                    <tr>
                        <td>@pos.PositionId</td>
                        <td>@pos.PositionTitle</td>
                        <td>@pos.PostedSalary</td>
                        <td>@pos.HiringManager</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Position", new { id = pos.PositionId }, null) | 
                            @Html.ActionLink("Delete", "Delete", "Position", new { id = pos.PositionId }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

