<div class="modal fade" id="manageAuthors" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label>New Author</label>
                        <input type="text" id="add-author" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button type="button" id="btnAddAuthor" class="btn btn-primary form-control">Add Author</button>
                    </div>
                </div>
                <div class="row">
                    <table id="author-list" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Author</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
