﻿@model SG_HR_Portal.Models.ViewModels.PolicyVM

@{
    ViewBag.Title = "Add Policy";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add Policy</h3>
        @Html.ActionLink("Return to Policy List", "Manage", "Policy")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Title</label>
                @Html.TextBoxFor(m => m.Policy.PolicyTitle, new { @class = "form-control", placeholder = "Policy Title" })
            </div>
            <div class="form-group">
                <label>Category</label>
                @Html.DropDownListFor(m => m.Policy.PolicyCategory.CategoryId, Model.CategoryItems, "-Choose Category-", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Content</label>
                @Html.TextAreaFor(m => m.Policy.PolicyContent, new { @class = "form-control", placeholder = "Policy Content" })
            </div>
            
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        }
    </div>
</div>

