﻿@model SG_HR_Portal.Models.DataModels.Policy

@{
    ViewBag.Title = "Delete Policy";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Policy</h3>
        @Html.ActionLink("Return to Policy List", "Manage", "Policy")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.PolicyId)
            <br /><h4>Are you sure that you want to delete the following policy?</h4>
            <br /><p>@Html.LabelFor(m => m.PolicyTitle) : @Html.DisplayFor(m => m.PolicyTitle)</p>
            <p>@Html.LabelFor(m => m.PolicyCategory.CategoryTitle) : @Html.DisplayFor(m => m.PolicyCategory.CategoryTitle)</p>
            <p>@Html.LabelFor(m => m.PolicyContent) : @Html.DisplayFor(m => m.PolicyContent)</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "Manage", "Policy", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>  

