﻿@model SG_HR_Portal.Models.ViewModels.PolicyVM

@{
    ViewBag.Title = "Edit Policy";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Policy</h3>
        @Html.ActionLink("Return to Policy List", "Manage", "Policy")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.Policy.PolicyId)
            <div class="col-xs-12 col-sm-9">
                <div class="form-group">
                    <label>Policy Title:</label>
                    @Html.TextBoxFor(m => m.Policy.PolicyTitle, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Category:</label>
                    @Html.DropDownListFor(m => m.Policy.PolicyCategory.CategoryId, Model.CategoryItems, "-Choose One-", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Content:</label>
                    @Html.TextAreaFor(m => m.Policy.PolicyContent, new { @class = "form-control" })
                </div>
                <button class="btn btn-primary">Save</button>
            </div>
        }
    </div>
</div>

