﻿@using System.Web.Mvc.Html
@model List<SG_HR_Portal.Models.DataModels.Policy>

@{
    ViewBag.Title = "Employee Policies";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Employee Policies</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            @using (Html.BeginForm())
            { 
                <div class="form-group">
                   <label>Category:</label>
                    @Html.DropDownListFor(Model.Select(m => new { m.PolicyCategory.CategoryId, m.PolicyCategory.CategoryTitle }).Distinct())
                </div>
            }
        </div>
        <table class="table table-striped" style="width: auto;">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Category</th>
                <th>Content</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var pol in Model)
            {
                <tr class="">
                    <td>@pol.PolicyId</td>
                    <td>@pol.PolicyTitle</td>
                    <td>@pol.PolicyCategory.CategoryTitle</td>
                    <td>@pol.PolicyContent</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

