﻿@model List<SG_HR_Portal.Models.DataModels.Policy>
@{
    ViewBag.Title = "Manage Policies";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Manage Policies</h3>
        @Html.ActionLink("Add Policy", "Add", "Policy", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Content</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pol in Model)
            {
                    <tr class="">
                        <td>@pol.PolicyId</td>
                        <td>@pol.PolicyTitle</td>
                        <td>@pol.PolicyCategory.CategoryTitle</td>
                        <td>@pol.PolicyContent</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Policy", new { id = pol.PolicyId }, null) |
                            @Html.ActionLink("Delete", "Delete", "Policy", new { id = pol.PolicyId }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

