﻿@model SG_HR_Portal.Models.ViewModels.ApplicationVM

@{
    ViewBag.Title = "Submit Application";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Submit Application</h3>
        @Html.ActionLink("Return to Application List", "List", "Application")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Name</label>
                @Html.TextBoxFor(m => m.Application.ApplicantName, new { @class = "form-control", placeholder = "Name" })
            </div>
            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Application.ApplicantEmail, new { @class = "form-control", placeholder = "Email" })
            </div>
            <div class="form-group">
                <label>Position</label>
                @Html.DropDownListFor(m => m.Application.Position.PositionId, Model.PositionItems, "-Choose Position-", new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        }
    </div>
</div>

