﻿@model SG_HR_Portal.Models.DataModels.Application

@{
    ViewBag.Title = "Delete Application";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Application</h3>
        @Html.ActionLink("Return to Application List", "List", "Application")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.ApplicationId)
            <br/><h4>Are you sure that you want to delete the following application?</h4> 
            <br/><p>@Html.LabelFor(m => m.ApplicantName) : @Html.DisplayFor(m => m.ApplicantName)</p>
            <p>@Html.LabelFor(m => m.ApplicantEmail) : @Html.DisplayFor(m => m.ApplicantEmail)</p>
            <p>@Html.LabelFor(m => m.Position.PositionTitle) : @Html.DisplayFor(m => m.Position.PositionTitle)</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "List", "Application", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>  

