﻿@model SG_HR_Portal.Models.ViewModels.ApplicationVM

@{
    ViewBag.Title = "Edit Application";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Application</h3>
        @Html.ActionLink("Return to Application List", "List", "Application")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Edit", "Application", null, FormMethod.Post, new {id = "editAppForm"}))
        {
            @Html.HiddenFor(m => m.Application.ApplicationId)
            <div class="col-xs-12 col-sm-9">
                <div class="form-group">
                    <label>Name:</label>
                    @Html.TextBoxFor(m => m.Application.ApplicantName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    @Html.TextBoxFor(m => m.Application.ApplicantEmail, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Position:</label>
                    @Html.DropDownListFor(m => m.Application.Position.PositionId, Model.PositionItems, "-Choose One-", new { @class = "form-control" })
                </div>
                <button class="btn btn-primary">Save</button>
            </div>
        }
    </div>
</div>

@section scripts
{
    
    <script src="/Scripts/respond.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Scripts/app/jquery-validate-default.js"></script>
    <script src="~/Scripts/app/editAppValidation.js"></script>
}