﻿@model List<SG_HR_Portal.Models.DataModels.Application>

@{
    ViewBag.Title = "Application List";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Current Applications</h3>
        @Html.ActionLink("Submit Application", "Add", "Application", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>AppID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Position Applied For</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var app in Model)
                {
                    <tr>
                        <td>@app.ApplicationId</td>
                        <td>@app.ApplicantName</td>
                        <td>@app.ApplicantEmail</td>
                        <td>@app.Position.PositionTitle</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Application", new { id = app.ApplicationId }, null) | 
                            @Html.ActionLink("Delete", "Delete", "Application", new { id = app.ApplicationId }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

