﻿
@{
    ViewBag.Title = "Search Movies";
}

<div class="container">
    <div class="row">
        <h3>Search by Title</h3>
        <div class="form-group">
            <label>Title: </label>
            <input type="text" id="title" class="form-control" />
        </div>
        <button id="btnSearchByTitle" class="btn btn-primary">Search</button>
    </div>
    <hr />
    <div class="row">
        <table id="movieTable" class="table table-striped">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="row">
    <table id="errorMessage" class="table table-striped">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>

</div>

@section scripts
{

    <script src="~/Scripts/app/checkBorrowFields.js"></script>
    <script src="~/Scripts/app/searchMovie.js"></script>
}

